@media (min-width: 1201px) and (max-width: 1321px){
    .Board-Saved-Advices{
        height: 55%;
        margin-bottom: 20px;
    }
    .Board-Saved-Advices{
        overflow: scroll;
    }
    .advice-saved{
        width: 29.5%;
        height: 35%;
    }
}

@media (min-width: 901px) and (max-width: 1200px){
    .Board-Saved-Advices{
        height: 55%;
    }
    .Board-Saved-Advices{
        overflow: scroll;
    }
    .advice-saved{
        width: 45.5%;
        height: 35%;
    }
}

@media (max-width: 900px) {
    .logo{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .box{
        padding: 10px 20px;
    }
    .modalWarning{
        width: 250px;
    }
    .Board-Saved-Advices{
        height: 55%;
    }
    .Board-Saved-Advices{
        overflow: scroll;
    }
    .advice-saved{
        width: 95%;
        height: 20%;
    }
}

